@import "reset.css";
@import "variables.css";
@import "screens/login.css";
@import "components/status-bar.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
input:focus {
  outline: none;
}
.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  font-size: 25px;
  margin-bottom: 40px;
  font-weight: 600;
}
.welcome-header__text {
  width: 60%;
  opacity: 65%;
}
