#chat-screen {
  background-color: #abc1d1;
  height: 11000vh;
}
#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  z-index: 2;
}
#alt-header__title-in-chat {
  font-size: 24px;
  color: #000;
}
.chat__timestamp {
  padding-top: 104px;
  color: white;
  font-size: 15px;
}
