#signup-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#signup-form input {
  padding: 15px 0px;
  font-size: 18px;
  border: none;
  margin-bottom: 25px;
}
#signup-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#signup-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
#signup-form input:focus {
  border-color: var(--yellow);
}
#signup-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 18px;
  border-radius: 5px;
  transform: translateY(5px);
}
#signup-form input[type="button"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 18px;
  border-radius: 5px;
  transform: translateY(2px);
  padding-left: 180px;
  padding-right: 180px;
}

#signup-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 15px;
}
