.badge {
  display: block;
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  top: -17px;
}
.badge-small {
  display: block;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  right: 17px;
  top: 45px;
}
